---
layout: default
title: Blog
permalink: /blog/
---

<h1 class="tighten-ph" id="header-text">
    <b>Blog</b>
</h1>

{% for post in site.posts %}
    <h4 style="margin-top: 40px;"><b><a href="{{ post.url | prepend: site.baseurl }}">
        {% if post.blogtitle %}
            {{ post.blogtitle }}
        {% else %}
            {{ post.title }}
        {% endif %}
    </a></b></h4>

    <div class="post-meta">
      Published on {{ post.date | date: "%-d %B %Y }}
    </div>

    <div style="margin-top: 5px;" class="post-entry">
      {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
      {% assign excerpt_word_count = post.excerpt | number_of_words %}
      {% if excerpt_word_count > 0 and (post.content != post.excerpt or excerpt_word_count > site.excerpt_length) %}
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
      {% endif %}
    </div>
{% endfor %}
