---
---

@import "monokai.css";

@media (prefers-color-scheme: dark) {
    html, html[data-theme="dark"] {
        --main-background-color: rgb(24, 24, 24);
        --main-text-color: rgb(218, 218, 218);
        --main-text-color-rgb:218, 218, 218;
        --header-color: #242424;
        --link-color: #109648;
        --link-color-rgb:198, 238, 13;
        --link-hover: #e0f38b;
        --light-text-color: rgb(160, 160, 160);
        --code-background-color: rgb(19, 19, 19);
        --code-color: #e83e8c;
        --warning-color: #eeee34;
    }

    html[data-theme="light"] {
        --main-background-color: rgb(230, 230, 230);
        --main-text-color: rgb(24, 24, 24);
        --main-text-color-rgb:24, 24, 24;
        --header-color: #d6d6d6;
        --link-color: #000000;
        --link-color-rgb:25, 100, 11;
        --link-hover: #389b24;
        --light-text-color: rgb(37, 37, 37);
        --code-background-color: rgb(197, 197, 197);
        --code-color: #e83e8c;
        --warning-color: #6c6c19;
    }
}

body {
    padding-top: 150px;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
}

h1 {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 30px;
}

h4 {
    letter-spacing: -1px;
}

.desc {
    margin-bottom: 20px;
}

h5 {
    margin-bottom: 60px;
}


a {
    color: var(--link-color);
    font-weight: bold;
}

a:hover {
    color: var(--link-hover);
    transition: all 0.5s;
}

.btn {
    color: var(--main-text-color) !important;
    background: none !important;
    border-color: rgba(var(--main-text-color-rgb), 0.5) !important;
}

.btn:active, .btn:focus {
    // outline: var(--link-color) !important;
    box-shadow: 0 0 0 .2rem rgba(var(--link-color-rgb), 0.4) !important;
    border: none !important;
}

.btn-primary {
    border-color: var(--link-color);
}

.card {
    background-color: var(--header-color);
    height: 100%;
}

.card-title {
    font-weight: bold;
}

.card-img-top {
    width: 150px;
    margin: 20px;
    border-bottom-left-radius: calc(.25rem - 1px);
    border-bottom-right-radius: calc(.25rem - 1px);
}

.warning {
    color: var(--warning-color);
}

#header {
    background-color: var(--header-color);
    -webkit-box-shadow: 0px 10px 22px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 22px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 22px -11px rgba(0,0,0,0.75);
}

#header canvas {
    z-index: -1;
}

#logo-header {
    clip-path: circle(20px at center);
}

.tighten-ph {
    transition: all 0.5s;
}

.tight {
    letter-spacing: -2px;
}

.link {
    margin-right: 30px;
}

.navbar {
    padding-top: 5px;
    padding-bottom: 5px;
}

.row {
    margin-bottom: 50px;
}

.photos img {
    margin-bottom: 20px;
}

.title {
    font-size: large;
}

.centered {
    text-align: center;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid var(--main-text-color);
    margin-bottom: 80px;
}

th, td {
    padding: 7px;
}

.post-meta {
  color: #808080;
  font-size: 15px;
  font-style: italic;
  margin: 0 0 10px;
  margin-top: -5px;
}

/* --- Code blocks --- */

// one line code block
// <code></code>

pre, code {
    font-size: 103%;
    border-radius: 5px;
    padding: 2px;
}

code {
      color: var(--code-color);
      background-color: var(--code-background-color);
}

pre > code {
    margin: 10px;
    display: block;
}

// large code block
// <pre><code></code></pre>
pre code {
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}

pre {
    margin-top: 10px;
    margin-bottom: 40px;
}


// MD code blocks
// .highlight pre {
//   color: inherit;
//   background-color: inherit;
//   font-size: 103%;
//   border-radius: 5px;
//   padding: 2px;
// }

.highlight > pre:not([class~="highlight"]) { /* code block with line number */
  padding: 0;
}

.highlight table,
.highlight tr,
.highlight td { /* to be removed after fixing table styles */
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}
.highlight pre.lineno {
  color: rgba(0,0,0,0.3);
  border-radius: 0;
  border-right: 2px solid #444;
}

/* Make line numbers unselectable: excludes line numbers from copy-paste user ops */
.lineno {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.lineno::selection, .lineno::-moz-selection {
  background: none;
}

/**
 * Site footer
 */

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif !default;
$code-font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;
$brand-color:           #828282 !default;
$brand-color-light:     lighten($brand-color, 40%) !default;
$brand-color-dark:      darken($brand-color, 25%) !default;

$site-title-color:      $brand-color-dark !default;

$text-color:            #111111 !default;
$background-color:      #fdfdfd !default;
$code-background-color: #eeeeff !default;

$link-base-color:       #2a7ae2 !default;
$link-visited-color:    darken($link-base-color, 15%) !default;
$link-hover-color:      $text-color !default;

$border-color-01:       $brand-color-light !default;
$border-color-02:       lighten($brand-color, 35%) !default;
$border-color-03:       $brand-color-dark !default;

$table-text-color:      lighten($text-color, 18%) !default;
$table-zebra-color:     lighten($brand-color, 46%) !default;
$table-header-bg-color: lighten($brand-color, 43%) !default;
$table-header-border:   lighten($brand-color, 37%) !default;
$table-border-color:    $border-color-01 !default;

@mixin relative-font-size($ratio) {
  font-size: #{$ratio}rem;
}

.site-footer {
  border-top: 1px solid $border-color-01;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.feed-subscribe .svg-icon {
  padding: 5px 5px 2px 0
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper,
.social-links {
  @include relative-font-size(0.9375);
  color: $brand-color;
}

.footer-col {
  margin-bottom: $spacing-unit / 2;
}

.footer-col-1,
.footer-col-2 {
  width: calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: calc(100% - (#{$spacing-unit} / 2));
}

@media screen and (min-width: $on-large) {
  .footer-col-1 {
    width: calc(35% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    width: calc(20% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: calc(45% - (#{$spacing-unit} / 2));
  }
}

@media screen and (min-width: $on-medium) {
  .footer-col-wrapper {
    display: flex
  }

  .footer-col {
    width: calc(100% - (#{$spacing-unit} / 2));
    padding: 0 ($spacing-unit / 2);

    &:first-child {
      padding-right: $spacing-unit / 2;
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      padding-left: $spacing-unit / 2;
    }
  }
}
